@font-face {
    font-family: 'RaceSport';
    src: url('../flyers/fonts/Race Sport Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body { 
    padding: 24px; 
    background-color: rgb(51, 44, 44);
}

h1{
  color: rgb(108, 131, 245);
  text-shadow: 2px 2px 1px gold;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

h1, tr{
    font-family: 'RaceSport';
}

table { 
    border-collapse: collapse; 
    width: 100%; 
    background-color: aliceblue;
    width:80%;
    margin:auto;
    font-size: 1.2rem;
}

th, td { 
    border: 1px solid #ccc; 
    padding: 8px 10px; 
}

th { 
    background: #171587; 
    color:aliceblue;
}

td.num { 
    text-align: right; 
    font-variant-numeric: tabular-nums; 
}

th.driver, td.driver { 
    text-align: left; 
    white-space: nowrap; 
}

thead th.sticky { 
    position: sticky; top: 0; 
}

table td:nth-child(2) {
    /* your styles here */
    background-color: gold;
    font-weight: bold;
  }

  tbody th:nth-child(1),
  tbody td:nth-child(1) {
    background-color: #020075;
    font-weight: bold;
    color: rgb(180, 211, 239);
  }

#leaderboard td.dropped { 
    color:red;
 }

.legend { 
    margin-top: 8px; 
    font-size: 0.9rem; 
    color: floralwhite; 
}

.legend .pill { 
    padding: 0 6px; 
    border: 1px solid rgb(239, 0, 0); 
    border-radius: 8px; 
}
  
td.num { 
    text-align: right; 
}
  
  